{% extends 'ui/base.html' %}
{% load static %}

{% block head %}
<title>{{ title }}</title>
<script>
    let token = "{{ API_TOKEN }}";
    window.localStorage.setItem('auth_token', token);
</script>
<script src={% static "ui/js/main.js" %} type="text/javascript"></script>
{% endblock %}

{% block content %}


<div class="wrapper">
    <span class='sub-title'>News <span class='color'>scraper</span> just in one click!</span>
    <form id='form' method="POST">
        <input name='keyword' id='keyword' type="text" placeholder="your keyword...">
        <button type="submit" id="button">Find</button>
    </form>

    <div id='scraped_content'></div>
</div>


{% endblock %}